body {
   /* Reset básico para garantir uma aparência consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}}


body {
    font-family: 'Verdana', sans-serif; 
    background-color: #f5f5f5; 
};
    

/* Container centralizado para o formulário */
.container {
    background-color: #ffffff; /* Fundo branco */
     
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    
    border: 1px solid #ddd; /* Borda cinza clara */
}

/* Estilo para o título */
h1 {
    
    color: #333; /* Cor escura para o texto */
    text-align: center;
    font-size: 24px;
}



/* Estilo para labels dos campos */
label {
    display: block;
            
    color: #555; /* Cor para o texto dos labels */
    font-size: 14px;
}

/* Estilo para campos de entrada */
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Cor da borda */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 14px;
    transition: border-color 0.3s; /* Transição suave para interações */
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="password"]:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
}

/* Estilo para o botão de submit */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Cor de fundo azul */
    border: none;
    border-radius: 4px; /* Bordas arredondadas */
    color: #ffffff; /* Cor do texto */
    font-size: 16px;
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para o fundo */
}

button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

